@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero .slider {
  height: 629px;
  max-width: 955px;
  width: 100%;
  border-radius: 20px;
  margin: 0;
}
@media (max-width: 1280px) and (min-width: 767px) {
  .hero .slider {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .hero .slider {
    height: 45vw;
  }
}
.hero .slider__item--first {
  background: url("/mtvr/assets/images/hero_bg/bg_first.png") no-repeat center/cover;
}
.hero .slider__item--second {
  background: url("/mtvr/assets/images/hero_bg/bg_second.png") no-repeat center/cover;
}
.hero .slider__content {
  display: grid;
  padding-top: 89px;
  padding-left: 101px;
}
@media (max-width: 767px) {
  .hero .slider__content {
    padding: 25px;
    height: auto;
    width: 50%;
  }
}
.hero .slider__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  font-family: Manrope;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 25px;
}
.hero .slider__label--first {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  width: 267px;
  height: 38px;
}
.hero .slider__label--second {
  font-weight: 700;
  font-size: 28px;
  width: 267px;
  height: 38px;
  color: rgb(89, 77, 62);
}
@media (max-width: 767px) {
  .hero .slider__label {
    display: none;
  }
}
.hero .slider__title {
  font-family: Manrope;
  max-height: 181px;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgb(89, 77, 62);
  margin: 0;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .hero .slider__title {
    font-size: clamp(14px, 4vw, 30px);
    margin-bottom: 20px;
  }
}
.hero .slider__button {
  height: 58px;
  width: 225px;
  background: rgb(89, 77, 62);
  border-radius: 50px;
  border: none;
  outline: none;
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 767px) {
  .hero .slider__button {
    display: inline-block;
    height: 40px;
    font-size: clamp(14px, 1.5vw, 16px);
    max-width: 100px;
  }
}
.hero .slider__icon--dr {
  margin-top: 72px;
}
@media (max-width: 767px) {
  .hero .slider__icon {
    display: none;
  }
}
.hero .slider .patient-reviews {
  margin-top: 49px;
  display: grid;
}
@media (max-width: 767px) {
  .hero .slider .patient-reviews {
    display: none;
  }
}
.hero .slider .patient-reviews__title {
  font-family: Manrope;
  font-weight: 400;
  margin: 0;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
}
.hero .slider .patient-reviews__icon:last-child {
  -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
          transform: translateY(-30%);
}
.hero .info-cards {
  display: grid;
  gap: 20px;
  width: 305px;
  height: 625px;
  border-radius: 20px;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .hero .info-cards {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .hero .info-cards {
    width: 100%;
  }
}
.hero .info-cards__item {
  position: relative;
  width: 100%;
  height: 196px;
  border-radius: 20px;
  padding-top: 15px;
  padding-left: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #000;
}
.hero .info-cards__item--teeth {
  background: rgb(217, 215, 204);
}
.hero .info-cards__item--analyze {
  background: rgb(191, 187, 180);
}
.hero .info-cards__item--health {
  background: rgb(242, 239, 233);
}
.hero .info-cards__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: #fff;
}
.hero .info-cards__icon img {
  width: 45px;
  height: 45px;
}
.hero .info-cards__title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 4px;
}
.hero .info-cards__subtitle {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
}
.hero .info-cards__arrow {
  position: absolute;
  top: 13px;
  right: 14px;
}
.hero .info-cards__intersect {
  position: absolute;
}
.hero .info-cards__intersect--first {
  bottom: 0;
  left: 0;
}
.hero .info-cards__intersect--second {
  top: 0;
  left: 0;
}
.hero .info-cards__intersect--third {
  top: 0;
  left: 0;
}

.about {
  margin-top: 141px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .about {
    grid-template-columns: 1fr;
    gap: 45px;
  }
}
@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
  }
}
.about .clinic-info {
  position: relative;
  width: 100%;
  max-width: 610px;
  height: 611px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  .about .clinic-info {
    grid-row: 2;
    display: none;
  }
}
.about .clinic-info__photo {
  position: absolute;
  border-radius: 20px;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}
.about .clinic-info__photo--top {
  left: 211px;
  top: 0;
  width: 344px;
  height: 265px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  -webkit-box-shadow: 2px 2px 8.8px 2px rgba(89, 77, 62, 0.2);
          box-shadow: 2px 2px 8.8px 2px rgba(89, 77, 62, 0.2);
}
.about .clinic-info__photo--bottom {
  width: 351px;
  height: 458px;
  top: 93px;
  z-index: -1;
}
.about .clinic-info__icon {
  position: absolute;
  top: 187px;
  right: 0;
  width: 306px;
  height: 303px;
  z-index: -2;
}
.about .clinic-info__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  gap: 27px;
  padding-left: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  right: 0;
  width: 329px;
  height: 123px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 8.8px 2px rgba(89, 77, 62, 0.2);
          box-shadow: 2px 2px 8.8px 2px rgba(89, 77, 62, 0.2);
  background: rgb(242, 239, 233);
}
.about .clinic-info__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: rgb(140, 126, 108);
}
.about .clinic-info__circle img {
  width: 49px;
  height: 49px;
}
.about .clinic-info__text {
  display: grid;
  margin: 0;
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
.about .clinic-info__num {
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 5px 0;
}
.about .clinic-consulation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .about .clinic-consulation {
    grid-row: 1;
  }
}
@media (max-width: 768px) {
  .about .clinic-consulation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about .clinic-consulation__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 169px;
  height: 38px;
  background: rgb(242, 239, 233);
  border-radius: 50px;
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(89, 77, 62);
  margin-bottom: 16px;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .about .clinic-consulation__label {
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 768px) {
  .about .clinic-consulation__label {
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.about .clinic-consulation__title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 21px;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .about .clinic-consulation__title {
    text-align: center;
  }
  .about .clinic-consulation__title br {
    display: none;
  }
}
@media (max-width: 768px) {
  .about .clinic-consulation__title {
    font-size: clamp(24px, 5vw, 40px);
    text-align: center;
  }
  .about .clinic-consulation__title br {
    display: none;
  }
}
.about .clinic-consulation__excerpt {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
.about .clinic-consulation__list {
  display: grid;
  gap: 11px;
  list-style-type: none;
  padding: 0;
  margin: 21px 0;
}
.about .clinic-consulation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 36px;
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  height: 24px;
}
.about .clinic-consulation__item::before {
  content: "";
  position: absolute;
  margin-right: 24px;
  left: 0;
  width: 24px;
  height: 24px;
  background: url("/mtvr/assets/images/lets-icons_done-ring-round.svg") no-repeat left center;
  background-size: contain;
}
.about .clinic-consulation__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
  background: rgb(89, 77, 62);
  border-radius: 50px;
  width: 293px;
  height: 58px;
  gap: 29px;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .about .clinic-consulation__button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 768px) {
  .about .clinic-consulation__button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.about .clinic-consulation__button span {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.services {
  margin-top: 153px;
}
.services .about-services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  background: rgb(242, 239, 233);
  padding-top: 72px;
  padding-bottom: 91px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  z-index: 2;
}
@media (max-width: 768px) {
  .services .about-services {
    padding-bottom: 40px;
  }
}
.services .about-services__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  width: 225px;
  height: 58px;
  background: rgb(140, 126, 108);
  border-radius: 50px;
}
.services .about-services__title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 22px;
}
@media (max-width: 768px) {
  .services .about-services__title {
    margin-bottom: 40px;
    font-size: clamp(30px, 5vw, 40px);
  }
}
.services .about-services__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 75px 84px;
  height: auto;
  z-index: 1;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .services .about-services__cards {
    grid-auto-columns: auto;
    grid-template-columns: auto auto;
    gap: 24px;
    margin: 20px 0;
  }
}
@media (max-width: 768px) {
  .services .about-services__cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.services .about-services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 305px;
  width: 305px;
  height: 261px;
  background: #fff;
  border-radius: 20px;
  padding-top: 14px;
  padding-left: 14px;
  padding-bottom: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.services .about-services__item:nth-child(3n+2) {
  margin-top: 20px;
}
.services .about-services__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-bottom: 17px;
}
.services .about-services__icon--1 {
  background: rgb(242, 239, 233);
}
.services .about-services__icon--2 {
  background: rgb(191, 187, 180);
}
.services .about-services__icon--3 {
  background: rgb(217, 215, 204);
}
.services .about-services__icon--4 {
  background: rgb(217, 215, 204);
}
.services .about-services__icon--5 {
  background: rgb(191, 187, 180);
}
.services .about-services__icon--6 {
  background: rgb(242, 239, 233);
}
.services .about-services__icon--7 {
  background: rgb(242, 239, 233);
}
.services .about-services__icon--8 {
  background: rgb(191, 187, 180);
}
.services .about-services__icon--9 {
  background: rgb(217, 215, 204);
}
.services .about-services__icon--10 {
  background: rgb(191, 187, 180);
}
.services .about-services__icon--11 {
  background: rgb(217, 215, 204);
}
.services .about-services__icon--12 {
  background: rgb(242, 239, 233);
}
.services .about-services__subtitle {
  font-family: Manrope;
  font-weight: 700;
  font-size: 14px;
  margin-left: 7px;
}
.services .about-services__list {
  display: grid;
  gap: 5px;
  padding: 0;
  padding-left: 18px;
  margin: 0;
  margin-top: 5px;
}
.services .about-services__item-text {
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
.services .about-services__item-text::marker {
  font-size: 12px;
}
.services .about-services__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  text-decoration: none;
  font-family: Manrope;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin: 0;
  margin-left: 7px;
  margin-top: auto;
}
.services .about-services__button {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 38px;
  background: rgb(255, 255, 255);
  outline: none;
  border: none;
  border-radius: 50px;
  width: 225px;
  height: 58px;
  cursor: pointer;
}
.services .about-services__button span {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.services .about-services__background {
  position: absolute;
  top: -41px;
  left: -5px;
  z-index: 0;
}

.promotions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 108px;
}
.promotions__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(242, 239, 233);
  border: none;
  border-radius: 50px;
  width: 225px;
  height: 58px;
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  color: rgb(89, 77, 62);
}
.promotions__title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 37px;
}
@media (max-width: 768px) {
  .promotions__title {
    font-size: clamp(24px, 5vw, 40px);
  }
}
.promotions__cards {
  display: grid;
  gap: 22px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .promotions__cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .promotions__cards {
    grid-template-columns: 1fr;
  }
}
.promotions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid rgb(89, 77, 62);
  width: 100%;
  max-width: 100%;
  height: 436px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 36px;
  padding-left: 33px;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .promotions__item {
    padding: 25px;
  }
}
@media (max-width: 768px) {
  .promotions__item {
    height: auto;
    padding: 20px 20px;
  }
}
.promotions__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 123px;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .promotions__info {
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .promotions__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.promotions__info h4 {
  max-width: 323px;
  width: 100%;
  font-family: Manrope;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(89, 77, 62);
  margin: 0;
}
@media (max-width: 768px) {
  .promotions__info h4 {
    font-size: clamp(24px, 5vw, 40px);
  }
}
.promotions__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: rgb(242, 239, 233);
}
.promotions__excerpt {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0%;
  max-width: 559px;
  width: 100%;
  margin: 0;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .promotions__excerpt {
    margin-top: 30px;
    margin-bottom: 28px;
  }
}
.promotions__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  color: #000;
  margin-top: auto;
  margin-bottom: 43px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .promotions__link {
    margin-bottom: 0;
  }
}

.staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 112px;
}
.staff__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(242, 239, 233);
  border: none;
  border-radius: 50px;
  width: 225px;
  height: 58px;
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  color: rgb(89, 77, 62);
}
.staff__title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 47px;
  max-width: 871px;
  width: 100%;
}
@media (max-width: 768px) {
  .staff__title {
    font-size: clamp(24px, 5vw, 40px);
  }
}
.staff__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  width: 100%;
}
.staff__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1280px) and (min-width: 767px) {
  .staff__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense;
  }
}
@media (max-width: 768px) {
  .staff__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.staff__button {
  width: 155px;
  height: 58px;
  background: rgb(242, 239, 233);
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  color: rgb(89, 77, 62);
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
@media (max-width: 1280px) and (min-width: 767px) {
  .staff__button:last-child {
    width: 100%;
    max-width: 100%;
    grid-column: span 2;
  }
}
@media (max-width: 768px) {
  .staff__button {
    width: 100%;
  }
}
.staff__button.active {
  background: rgb(140, 126, 108);
  color: rgb(242, 239, 233);
  font-weight: 600;
}
.staff .personal-slider {
  width: 100%;
}
.staff .personal-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.staff .personal-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 305px;
  height: auto;
  max-height: 100%;
  margin: 0;
}
@media (max-width: 1280px) and (min-width: 767px) {
  .staff .personal-slider__slide {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .staff .personal-slider__slide {
    max-width: 50%;
    width: 50%;
  }
}
@media (max-width: 480px) {
  .staff .personal-slider__slide {
    max-width: 100%;
    width: 100%;
  }
}
.staff .personal-slider__image {
  max-width: 305px;
  width: 100%;
  height: 343px;
}
@media (max-width: 1280px) and (min-width: 767px) {
  .staff .personal-slider__image {
    max-width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .staff .personal-slider__image {
    max-width: 100%;
    height: 100%;
  }
}
.staff .personal-slider__name {
  margin: 0;
  margin-top: 42px;
  margin-bottom: 4px;
  font-family: Manrope;
  font-weight: 700;
  font-size: 24px;
  color: #000;
}
@media (max-width: 1280px) and (min-width: 767px) {
  .staff .personal-slider__name {
    font-size: 18px;
  }
}
.staff .personal-slider__specialty {
  margin: 0;
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80%;
  text-overflow: ellipsis;
  height: 50px;
}
@media (max-width: 1280px) and (min-width: 767px) {
  .staff .personal-slider__specialty br {
    display: none;
  }
}
@media (max-width: 768px) {
  .staff .personal-slider__specialty br {
    display: none;
  }
}

.qualification {
  margin-top: 50px;
}
.qualification__block {
  max-width: 100%;
  height: 611px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 57px;
  padding-left: 109px;
  background: url("/mtvr/assets/images/qualification_rectangle.png") no-repeat center/cover;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .qualification__block {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .qualification__block {
    height: 100%;
    background: #f2efea;
    padding: 35px 8vw;
  }
}
.qualification__title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0%;
  color: rgb(89, 77, 62);
  max-width: 584px;
  margin: 0;
}
@media (max-width: 768px) {
  .qualification__title {
    font-size: clamp(24px, 5vw, 40px);
  }
}
.qualification__quote {
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0%;
  max-width: 515px;
  color: #000;
  margin: 69px 0;
}
.qualification__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.qualification__item {
  display: grid;
  background: rgb(140, 126, 108);
  max-width: 306px;
  width: 100%;
  gap: 20px;
  border-radius: 20px;
  height: 123px;
  padding-top: 20px;
  padding-left: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  .qualification__item {
    max-width: 100%;
  }
}
.qualification__subtitle {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  max-width: 241px;
  margin: 0;
  color: rgb(255, 255, 255);
}
.qualification__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  gap: 15px;
  margin-bottom: 17px;
  text-decoration: none;
}
.qualification__link span {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
}

.dentistry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 166px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768px) {
  .dentistry {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .dentistry {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.dentistry__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  width: 100%;
  height: auto;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .dentistry__column:first-of-type {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.dentistry__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(140, 126, 108);
  width: 169px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .dentistry__label {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.dentistry__title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 37px;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .dentistry__title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .dentistry__title {
    font-size: clamp(24px, 5vw, 40px);
    text-align: center;
  }
}
.dentistry__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 630px;
  width: 100%;
  border-radius: 20px;
  background: rgb(242, 239, 233);
  height: 436px;
  padding-top: 30px;
  padding-left: 22px;
  padding-bottom: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .dentistry__action {
    max-width: 90vw;
  }
}
@media (max-width: 768px) {
  .dentistry__action {
    height: auto;
  }
}
.dentistry__quote {
  max-width: 598px;
  width: 100%;
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0%;
  color: #000;
  margin: 0;
}
.dentistry__list {
  display: grid;
  gap: 10px;
  padding-left: 26px;
  margin: 24px 0;
}
@media (max-width: 768px) {
  .dentistry__list {
    margin: 24px 0;
  }
}
.dentistry__item {
  font-family: Manrope;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(89, 77, 62);
}
@media (max-width: 768px) {
  .dentistry__item {
    font-size: 20px;
  }
}
.dentistry__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: auto;
  text-decoration: none;
}
.dentistry__link span {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}
.dentistry__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  .dentistry__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.dentistry__grid {
  display: grid;
  gap: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
.dentistry__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 305px;
  width: 305px;
  height: 413px;
  border-radius: 20px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  .dentistry__image {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .dentistry__image {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}
.dentistry__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 305px;
  width: 305px;
  height: 218px;
  border-radius: 20px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 8.8px 2px rgba(89, 77, 62, 0.2);
          box-shadow: 2px 2px 8.8px 2px rgba(89, 77, 62, 0.2);
  padding-top: 32px;
  padding-left: 24px;
}
@media (max-width: 768px) {
  .dentistry__card {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .dentistry__card {
    max-width: 100%;
    width: 100%;
  }
}
.dentistry__card--white {
  background: rgb(191, 187, 180);
}
.dentistry__card--black {
  background: rgb(217, 215, 204);
}
.dentistry__text {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}
.dentistry__text--white {
  color: #fff;
}
.dentistry__text--white span {
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0%;
}
.dentistry__text--black {
  color: #000;
}
.dentistry__text--black span {
  font-family: Manrope;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(89, 77, 62);
}
.dentistry__icon {
  position: absolute;
  display: block;
}
.dentistry__icon--first {
  top: 0;
  right: 23px;
}
.dentistry__icon--second {
  top: 65px;
  right: -5px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 81px;
  margin-bottom: 58px;
}
.news__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(242, 239, 233);
  border: none;
  border-radius: 50px;
  width: 225px;
  height: 58px;
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  color: rgb(89, 77, 62);
}
.news__title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
  margin-top: 22px;
  margin-bottom: 44px;
  text-align: center;
}
@media (max-width: 768px) {
  .news__title {
    font-size: clamp(24px, 5vw, 40px);
  }
}
.news__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .news__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8vw;
  }
}
@media (max-width: 768px) {
  .news__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 100px;
  }
}
.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 305px;
  width: 100%;
}
.news__subtitle {
  font-family: Manrope;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0%;
  color: #000;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 12px;
}
.news__excerpt {
  margin-top: auto;
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}

.header {
  max-width: 100%;
  margin-bottom: 28px;
}
.header__top {
  background: rgb(217, 215, 204);
  width: 100%;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1065px) {
  .header__top {
    display: none;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .header__top {
    padding: 0 5vw;
    max-width: 90vw;
  }
}
@media (max-width: 768px) {
  .header__top {
    padding: 0 5vw;
  }
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.header__announcement {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 66px;
}
.header__phone {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: rgb(0, 0, 0);
}
.header__address {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: rgb(0, 0, 0);
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .header__bottom {
    padding: 0 5vw;
  }
}
@media (max-width: 768px) {
  .header__bottom {
    padding: 0 5vw;
  }
}
.header__bottom .menu-toggle {
  display: none;
  border: none;
  background: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
@media (max-width: 1065px) {
  .header__bottom .menu-toggle {
    display: block;
  }
}
.header__bottom .menu-toggle__close {
  display: none;
}
.header__bottom .menu-toggle__icon {
  width: 80%;
  height: 80%;
  fill: rgb(89, 77, 62);
}
.header .hamburger-menu {
  display: none;
  padding: 0 5vw;
}
@media (max-width: 1065px) {
  .header .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header .hamburger-menu__nav {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 1px;
  border-radius: 4px;
  border: 2px solid rgb(89, 77, 62);
  background: rgb(240, 239, 231);
}
.header .hamburger-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Manrope;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: rgb(89, 77, 62);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px;
  padding-left: 20px;
}
.header .hamburger-menu__item:not(:last-of-type) {
  border-bottom: 2px solid rgb(186, 184, 184);
}
.header .hamburger-menu.collapsed {
  display: none;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 74px;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .header__nav {
    gap: clamp(10px, 3vw, 40px);
  }
}
@media (max-width: 1065px) {
  .header__nav {
    display: none;
  }
}
.header__nav a {
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  color: rgb(89, 77, 62);
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
}
@media (max-width: 768px) {
  .header__actions {
    display: none;
  }
}
.header__search {
  width: 50px;
  height: 50px;
  background: rgb(89, 77, 62);
  border: none;
  outline: none;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
.header__search img {
  width: 24px;
  height: 24px;
}
.header__appointment {
  background: rgb(89, 77, 62);
  color: #fff;
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  outline: none;
  border-radius: 40px;
  width: 167px;
  height: 55px;
  cursor: pointer;
}

.footer {
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .footer {
    padding: 0 5vw;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 0 5vw;
  }
}
.footer__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(89, 77, 62);
  width: 100%;
  min-height: 630px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: 0 108px;
  z-index: 2;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .footer__container {
    padding: 40px 30px;
    gap: 60px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    gap: 0px;
    padding: 40px 24px;
  }
}
.footer__info {
  color: #fff;
}
.footer__title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Manrope;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 12px;
  margin-bottom: 21px;
}
.footer__text:nth-of-type(1) {
  gap: 127px;
}
.footer__text:nth-of-type(n + 2) {
  gap: 25px;
  margin: 25px 0;
}
@media (max-width: 768px) {
  .footer__text {
    gap: 20px;
    font-weight: 500;
  }
  .footer__text:nth-of-type(1) {
    gap: 10px;
  }
  .footer__text:nth-of-type(n + 2) {
    gap: 12px;
    margin: 25px 0;
  }
}
.footer__time {
  font-family: Manrope;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer__button {
  width: 167px;
  height: 55px;
  background: rgb(242, 239, 233);
  border: none;
  outline: none;
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(89, 77, 62);
  border-radius: 40px;
  margin-bottom: 35px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .footer__button {
    margin: 24px 0;
  }
}
.footer__label {
  font-family: Manrope;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
@media (max-width: 768px) {
  .footer__label {
    font-size: 18px;
  }
}
.footer__address {
  font-family: Manrope;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: inherit;
}
@media (max-width: 768px) {
  .footer__address {
    font-size: 16px;
  }
}
.footer__link {
  font-family: Manrope;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: inherit;
}
@media (max-width: 768px) {
  .footer__link {
    font-size: 16px;
  }
}
.footer__email {
  font-family: Manrope;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: inherit;
  text-decoration: none;
}
@media (max-width: 768px) {
  .footer__email {
    font-size: 16px;
  }
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
  margin-top: 30px;
}
.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
}
.footer__map {
  width: 522px;
  height: 511px;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .footer__map {
    width: 100%;
    height: 60vw;
  }
}
@media (max-width: 768px) {
  .footer__map {
    display: none;
  }
}
.footer__iframe {
  border-radius: 20px;
}
.footer__bottom {
  display: grid;
  grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 108px;
  padding-top: 22px;
  padding-bottom: 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    gap: 30px;
    margin: 30px 0;
  }
}
@media (max-width: 768px) {
  .footer__bottom {
    margin-top: 25px;
    grid-template-columns: auto;
    padding: 20px;
    gap: 30px;
  }
}
.footer__privacy {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  color: #000;
}
.footer__copyright {
  grid-row: 2;
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer__company-info {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0%;
  max-width: 427px;
  width: 100%;
}
.footer__intersect {
  position: absolute;
  right: 0;
  top: 81px;
  z-index: -1;
}

.appointment-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.appointment-modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1085px;
  height: 1027px;
  background: rgb(242, 239, 233);
  border-radius: 20px;
  padding: 57px 63px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.appointment-modal__title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #000;
  text-align: center;
  margin: 0;
  margin-bottom: 97px;
}
.appointment-modal__title span {
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}

.appointment-form {
  display: grid;
  width: 100%;
}
.appointment-form__field {
  display: grid;
  height: auto;
}
.appointment-form__label {
  font-family: Manrope;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
  margin-bottom: 17px;
}
.appointment-form__label.mt-49 {
  margin-top: 49px;
}
.appointment-form__input {
  background: rgb(255, 255, 255);
  border: none;
  font-family: Manrope;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  height: 97px;
  border-radius: 20px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  outline: none;
}
.appointment-form__input:focus {
  border: 2px solid rgb(140, 126, 108);
}
.appointment-form__input:placeholder {
  color: rgb(140, 126, 108);
}
.appointment-form__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
.appointment-form__radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.appointment-form__radio-text {
  font-family: Manrope;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  position: relative;
  padding-left: 44px;
  cursor: pointer;
}
.appointment-form__radio-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("/mtvr/assets/images/non-active.svg");
  -webkit-transition: background 0.6s;
  transition: background 0.6s;
}
.appointment-form .appointment-form__radio:checked + .appointment-form__radio-text::before {
  background: url("/mtvr/assets/images/active.svg");
  border-color: rgb(89, 77, 62);
}
.appointment-form__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 10vw;
  margin-top: auto;
}

.appointment-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  border: none;
  outline: none;
  width: 264px;
  height: 68px;
  border-radius: 50px;
  background: rgb(89, 77, 62);
  color: #fff;
  font-family: Manrope;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  cursor: pointer;
}
.appointment-button img {
  width: 16px;
  height: 20px;
}

.spring-quiz {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  overflow-y: auto;
}
.spring-quiz__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  max-width: 1085px;
  width: 100%;
  height: 753px;
  background: rgb(242, 239, 233);
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 75px;
}
.spring-quiz__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 57px;
  padding-left: 84px;
}
.spring-quiz__header {
  margin-bottom: 140px;
}
.spring-quiz__title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  max-width: 411px;
  width: 100%;
  margin: 0;
  color: rgb(0, 0, 0);
}
.spring-quiz__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  position: absolute;
  top: 71px;
  right: 108px;
}
.spring-quiz__steps::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 1px;
  background: #5a483a;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}
.spring-quiz__step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: rgb(89, 77, 62);
  width: 87px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(89, 77, 62);
  border-radius: 50%;
  height: 87px;
  z-index: 1;
}
.spring-quiz__step.completed {
  color: rgb(140, 126, 108);
  border-color: #5a483a;
  background: rgb(242, 239, 233);
}
.spring-quiz__step.active {
  background: #5a483a;
  color: white;
  border-color: #5a483a;
}
.spring-quiz__question {
  font-family: Manrope;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
  margin: 0;
  margin-bottom: 38px;
}
.spring-quiz__answers {
  display: grid;
  gap: 33px;
}
.spring-quiz__answer input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.spring-quiz__radio-text {
  position: relative;
  font-family: Manrope;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  padding-left: 44px;
  cursor: pointer;
}
.spring-quiz__radio-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("/mtvr/assets/images/non-active.svg");
  -webkit-transition: background 0.6s;
  transition: background 0.6s;
}
.spring-quiz__answer > input:checked + .spring-quiz__radio-text::before {
  background: url("/mtvr/assets/images/active.svg");
  border-color: rgb(89, 77, 62);
}
.spring-quiz__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgb(89, 77, 62);
  outline: none;
  border: none;
  margin: 0;
  white-space: nowrap;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 50px;
  width: 100%;
  max-width: 264px;
  height: 68px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
  cursor: pointer;
}
.spring-quiz__button span {
  font-family: Manrope;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
}
.spring-quiz__button img {
  width: 15px;
  height: 18px;
}
.spring-quiz__final .spring-quiz__title {
  max-width: none;
  width: 100%;
}
.spring-quiz__final .spring-quiz__label {
  font-family: Manrope;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  margin-bottom: 12px;
}
.spring-quiz__final .spring-quiz__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.spring-quiz__final .spring-quiz__input {
  width: 959px;
  height: 97px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-family: Manrope;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.spring-quiz__final .spring-quiz__input:focus {
  border: 2px solid rgb(140, 126, 108);
}
.spring-quiz__final .spring-quiz__input:placeholder {
  color: rgb(140, 126, 108);
}
.spring-quiz #quizButton {
  max-width: 310px;
  padding: 0 30px;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  height: auto;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .main {
    padding: 0 5vw;
  }
}
@media (max-width: 768px) {
  .main {
    padding: 0 5vw;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}